// out: ../../css/main/friends.css, sourcemap: false, compress: true

#HUB
  & > #Main
    footer
      & > .end

        .friends
          margin-right 10px
          width 140px
          height 40px
          box-sizing border-box
          display flex
          align-items center
          color #FFF
          padding 0 10px
          position relative
          transition background .2s linear,color .2s linear, border .2s linear
          user-select none
          -webkit-user-select none
          & > p
            text-shadow 1px 1px 1px #000
          & > span
            align-content flex-end
            margin-left auto
            height 20px
            padding 0 5px
            font-size 14px
            display flex
            align-items center
            justify-content center
            font-weight bold
            transition background .2s linear,color .2s linear
          & > i
            margin-right 10px
            color #FFF
          &:not(.active)
            background #263238
            border 1px solid #78909C
            & > span
              background #F50057
              color #FFF
          &:not(.active):hover
            cursor pointer
          &.active
            background #4527A0
            border 1px solid #7E57C2
            & > span
              background #FFF
              color #333
        #friends_volet
          width 300px
          height 60vh
          background #212121
          border 1px solid #424242
          box-sizing border-box
          position absolute
          bottom 70px
          right 125px
          padding 5px
          display flex
          box-shadow 2px 2px 5px rgba(35,35,35,0.3)
          flex-direction column

#friends_volet
  .option
    height 35px
    min-height 35px
    margin-top 5px
    box-sizing border-box
    background rgba(70,70,70,0.1)
    display flex
    align-items center
    padding 0 5px

    ul
      display flex
      flex-grow 1

      li
        height 25px
        padding 0 10px
        display flex
        align-items center
        transition color .2s linear, background .2s linear, border .2s linear

        &:hover
          cursor pointer
        &:nth-child(-n
          & + 2)
            flex-grow 2
            background #263238
            border 1px solid #78909C
            color #FFF
            i
              margin-right 10px
            strong
              align-content flex-end
              margin-left auto
              background #F50057
              color #FFF
              height 15px
              display flex
              align-items center
              padding 0 4px
              font-size 14px
          & + 2):hover
            background #4527A0
            border 1px solid #7E57C2
        &:nth-child(3)
          max-width 30px
          background #F50057
          border 1px solid #FF4081
          color #FFF
        &:nth-child(3):hover
          background #880E4F
          color #FFF
          border 1px solid #C2185B
        & + li
          margin-left 5px

  .friends_inner
    overflow-x hidden
    overflow-y auto
    position relative
    flex-grow 1
    z-index 1

  .friend
    height 70px
    background rgba(20,20,20,0.3)
    color #FFF
    box-sizing inherit
    border 1px solid #333
    display flex
    align-items center
    padding 0 5px
    margin-right 5px
    position relative
    &.offline
      opacity 1
    &:not(.offline):hover
      background rgba(20,20,20,0.5)
    .avatar
      width 60px
      height 60px
      box-sizing inherit
      border 1px solid #212121
      overflow hidden
      position relative
      img
        width inherit
        height inherit
        z-index 1
        position absolute
        left 0
        top 0
      .level
        z-index 2
        position absolute
        bottom 2px
        right 2px
        font-size 14px
        background rgba(20,20,20,0.65)
        text-shadow 1px 1px 1px #000
        padding 2px
        font-weight bold
    .other
      margin-left 5px
      flex-grow 1
      height 60px
      display flex
      flex-direction column
      justify-content center
      text-shadow 1px 1px 1px #000
      position relative
      .login
        font-weight bold
        height 25px
        color #EDE7F6
        font-size 20px
        align-items center
        position relative
        & > .icon
          font-size 12px
          padding 5px
          border-radius 4px
          position relative
          display flex
          align-items center
          justify-content center
          margin-right 5px
          transition background .2s linear, color .2s linear
          i
            &:not(.open)
              color #BDBDBD
            &.open
              color #F06292
          &:hover
            background rgba(20,20,20,0.2)
            cursor pointer
      .comp
        height 20px
        font-size 13px
        color #BDBDBD
        i
          margin-right 10px
          font-size 8px
          margin-left 7px
          &:not(.offline)
            color #76FF03
          &.offline
            color brown
    & + .friend
      margin-top 5px

.opt_menu
  width 180px
  background #45484d
  background -moz-linear-gradient(top,  #45484d 0%, #333333 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#333333))
  background -webkit-linear-gradient(top,  #45484d 0%,#333333 100%)
  background -o-linear-gradient(top,  #45484d 0%,#333333 100%)
  background -ms-linear-gradient(top,  #45484d 0%,#333333 100%)
  background linear-gradient(to bottom,  #45484d 0%,#333333 100%)
  border 1px solid #757575
  box-shadow 2px 2px 5px rgba(20,20,20,0.2)
  position absolute
  top 25px
  left 0
  z-index 20 !important
  border-radius 2px
  text-shadow 1px 1px 1px rgba(20,20,20,0.2)
  font-weight 400
  ul
    display flex
    flex-direction column
    padding 5px 0
    li
      height 25px
      display flex
      align-items center
      margin 0 10px
      color #EEE
      transition color .1s linear
      &:hover
        color #F06292
      &.separate
        border-bottom 1px solid #757575
        margin-bottom 5px
        padding-bottom 5px

#friends_volet .friend .other .login, #friends_volet .friend .other .comp
  display flex
  padding 0 10px
  align-items center
