// out: ../../css/main/group.css, sourcemap: false, compress: true

#HUB
  & > #Main
    footer
      & > .group
        width 270px
        position absolute
        left 20px
        bottom 155px
        display flex
        flex-direction column
        background rgba(40,40,40,0.1)
        padding 5px
        border-radius 2px

        .titre
          height 25px
          color #FFF
          display flex
          align-items center
          padding 0 10px

        .user
          height 70px
          display flex
          padding 5px
          transition background .2s linear
          &:hover
            background rgba(40,40,40,0.3)
            cursor pointer

          .avatar
            width 70px
            background #FFF
            box-sizing border-box
            overflow hidden
            border 2px solid #333
            img
              width inherit
              height inherit

          .other
            flex-grow 1
            display flex
            flex-direction column
            padding 10px
            & > p
              font-size 20px
              color #FFF
              i
                margin-right 10px
                color orange

            & > span
              height 30px
              color #F50057
              display flex
              align-items center
              box-sizing border-box
              margin-top 5px

          & + .user
            margin-top 5px

        .option
          height 24px
          margin 10px 0
          display flex

          ul
            display flex
            flex-grow 1

            li
              flex-grow 1
              background #FFF
              display flex
              align-items center
              padding 0 10px
              color #FFF
              box-sizing border-box
              border-radius 4px
              &.red
                background #C62828
                border 1px solid #F44336
              &.green
                background #388E3C
                border 1px solid #66BB6A
              & + li
                margin-left 10px
