// out: ../../css/main/header.css, sourcemap: false, compress: true

#HUB
  & > #Main

    header
      height 50px
      min-height 50px
      background #111
      border 1px solid #212121
      box-shadow 2px 2px 10px rgba(20,20,20,0.6)
      display inherit
      position inherit
      margin 10px

      ul
        display flex
        height inherit
        align-items center
        padding 0 10px

        li
          font-weight 400
          font-size 23px
          padding 0 10px
          color #EDE7F6
          height inherit
          display flex
          align-items center
          height 35px
          box-sizing border-box
          border 1px solid #c
          background #4527A0
          min-width 140px

          &.active
            background #F50057
            border 1px solid #EC407A
          i
            &:last-child
              align-content flex-end
              margin-left auto
              color #FFF
              font-size 15px
          &:hover
            color #F3E5F5
            cursor pointer
          & + li
            margin-left 10px
