doctype html
html(lang="fr",ng-app="Ethernium")
  head
    link(rel="stylesheet",href="/css/minor/font.css",type="text/css")
    // Librairie CSS
    link(rel="stylesheet",href="/lib/animate.css",type="text/css")
    link(rel="stylesheet",href="/lib/loading-bar.css")
    link(rel="stylesheet",href="/lib/font-awesome.css")
    // Minor CSS
    link(rel="stylesheet",href="/css/minor/angular.css",type="text/css")
    link(rel="stylesheet",href="/css/minor/fix.css",type="text/css")
    link(rel="stylesheet",href="/css/minor/webkit.css",type="text/css")
    link(rel="stylesheet",href="/css/minor/input-material.css")
    // Primary CSS
    link(rel="stylesheet",href="/css/main.css",type="text/css")
    link(rel="stylesheet",href="/css/menu.css")
    // Stage dependencies CSS
    link(rel="stylesheet",href="/css/main/friends.css")
    link(rel="stylesheet",href="/css/main/group.css")
    link(rel="stylesheet",href="/css/main/header.css")
    // Popup CSS
    link(rel="stylesheet",href="/css/popup/popup.css")
    link(rel="stylesheet",href="/css/popup/hub_options.css")
    base(href="/")
    title= Ethernium
body(ng-controller="PrimaryController")
  block HTML
  #HUB.view(ng-view)
    
  script(src="../socket.io/socket.io.js")
  script(src="/lib/angular.min.js")
  script(src="/lib/angular-animate.min.js")
  script(src="/lib/angular-sanitize.min.js")
  script(src="/lib/angular-route.min.js")
  script(src="/lib/loading-bar.js")
  script(src='/js/directives/equals.js')
  script(src='/js/factory/HUB_Socket.js')
  script(src='/js/factory/HUB_Notify.js')
  script(src='/js/mainAPI/friends.js')
  script(src='/js/mainAPI/games.js')
  script(src='/js/mainAPI/group.js')
  script(src='/js/mainAPI/lobby.js')
  script(src='/js/mainAPI/options.js')
  script(src='/js/modules/authentification.js')
  script(src='/js/modules/configuration.js')
  script(src='/js/modules/addFriends.js')
  script(src='/js/routing.js')
  script(src='/js/main.js')
