.left
  h1 SupraBomba
  .visio Play NOW!
  br
  span v0.0.3
.right
  .events
    h2 Events
    ul 
      li test
      li test2
  .events
    h2 Top clan
    ul 
      li Sparklinlabs
      li Antarka
