// out: ../../css/minor/angular.css, sourcemap: false, compress: true

.ng-leave, .ng-enter, .ng-hide, .ng-hide-add, .ng-hide-remove
  -webkit-animation-timing-function ease
  -moz-animation-timing-function ease
  -ms-animation-timing-function ease
  -o-animation-timing-function ease
  animation-timing-function ease
  -webkit-animation-fill-mode both
  -moz-animation-fill-mode both
  -ms-animation-fill-mode both
  -o-animation-fill-mode both
  animation-fill-mode both
  -webkit-backface-visibility hidden
  -moz-backface-visibility hidden
  -ms-backface-visibility hidden
  -o-backface-visibility hidden
  backface-visibility hidden

.friendsAnimation
  -webkit-animation-name fadeIn
  -moz-animation-name fadeIn
  -ms-animation-name fadeIn
  -o-animation-name fadeIn
  animation-name fadeIn
  -webkit-animation-duration .2s
  -moz-animation-duration .2s
  -ms-animation-duration .2s
  -o-animation-duration .2s
  animation-duration .2s
  &.ng-hide
    -webkit-animation-name fadeOut
    -moz-animation-name fadeOut
    -ms-animation-name fadeOut
    -o-animation-name fadeOut
    animation-name fadeOut
    -webkit-animation-duration 0.2s
    -moz-animation-duration 0.2s
    -ms-animation-duration 0.2s
    -o-animation-duration 0.2s
    animation-duration 0.2s

.view.ng-enter ,.view.ng-leave
  -webkit-animation-duration 0.2s
  -moz-animation-duration 0.2s
  -ms-animation-duration 0.2s
  -o-animation-duration 0.2s
  animation-duration 0.2s
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.view
  &.ng-leave
    -webkit-animation-name fadeOut
    -moz-animation-name fadeOut
    -ms-animation-name fadeOut
    -o-animation-name fadeOut
    animation-name fadeOut
  &.ng-enter
    -webkit-animation-name fadeIn
    -moz-animation-name fadeIn
    -ms-animation-name fadeIn
    -o-animation-name fadeIn
    animation-name fadeIn

.fade
  &.ng-enter
    transition 0.25s linear all
    opacity 0
    &.ng-enter-active
      opacity 1
