// out: ../../css/minor/fix.css, sourcemap: false, compress: true

body, html div, table, tr ,td, img, ul, li, p, span, b, input, textarea, select, fieldset, legend, iframe, h1, h2 ,h3 ,h4, h5, h6, a
  padding 0
  margin 0

a
  color blue
  text-decoration inherit

li
  list-style none

img
  vertical-align top
  border 0

input, textarea, select
  outline none
  border none

body, html
  width 100%
  height 100%
  overflow hidden
  font-size 16px
  position relative
  font-family roboto
  background rgb(15,15,15)

pre
  background #EEE
  padding 10px
  border-radius 4px
  color #333
  margin 10px
