// out: ../../css/minor/input-material.css, sourcemap: false, compress: true
form
  display flex
  flex-direction column
  padding 10px

  & > .field
    flex-grow 1

    & + .field
      margin-top 10px

.field
  display flex
  flex-direction column

  label
    color #FFF
    margin-bottom 5px
    height 20px
    line-height 20px
    font-style italic
    padding 0 10px
    font-weight 400
    color #757575
    font-size 16px

  input
    height 40px
    background rgb(33,33,33)
    background -moz-linear-gradient(top,  rgba(33,33,33,1) 0%, rgba(66,66,66,1) 100%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,33,33,1)), color-stop(100%,rgba(66,66,66,1)))
    background -webkit-linear-gradient(top,  rgba(33,33,33,1) 0%,rgba(66,66,66,1) 100%)
    background -o-linear-gradient(top,  rgba(33,33,33,1) 0%,rgba(66,66,66,1) 100%)
    background -ms-linear-gradient(top,  rgba(33,33,33,1) 0%,rgba(66,66,66,1) 100%)
    background linear-gradient(to bottom,  rgba(33,33,33,1) 0%,rgba(66,66,66,1) 100%)
    flex-grow 1
    padding 0 10px
    color #FFF
    font-family Roboto
    border 1px solid #757575
    box-shadow 2px 2px 5px rgba(20,20,20,0.2)

  .field-error
    height 25px
    padding 0 10px
    color tomato
    font-style italic
    margin-top 5px
    font-size 12px
    align-self flex-start

  & + .field_sub
    margin-top 10px

.field input.ng-invalid, .field input.ng-invalid-email
  color tomato

.field_sub
  display flex
  flex-wrap wrap

  .field
    flex-grow 1
    min-width 150px

    & + .field
      margin-left 10px

.field-reset
  background rgb(61,90,254)
  background -moz-linear-gradient(top,  rgba(61,90,254,1) 0%, rgba(41,98,255,1) 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,90,254,1)), color-stop(100%,rgba(41,98,255,1)))
  background -webkit-linear-gradient(top,  rgba(61,90,254,1) 0%,rgba(41,98,255,1) 100%)
  background -o-linear-gradient(top,  rgba(61,90,254,1) 0%,rgba(41,98,255,1) 100%)
  background -ms-linear-gradient(top,  rgba(61,90,254,1) 0%,rgba(41,98,255,1) 100%)
  background linear-gradient(to bottom,  rgba(61,90,254,1) 0%,rgba(41,98,255,1) 100%)
  color #FFF

.field-submit, .field-reset
  height 40px
  width 150px
  margin-top 10px
  align-self flex-end
  border 1px solid #536DFE
  font-family Roboto
  font-size 16px

.field-submit
  &:not(.disabled)
    cursor pointer
    background #43A047
    color #FFF
    border-color #81C784
  &:not(.disabled):hover
    background #4CAF50
  &.disabled
    background rgb(183,28,28)
    background -moz-linear-gradient(top,  rgba(183,28,28,1) 0%, rgba(198,40,40,1) 100%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,28,28,1)), color-stop(100%,rgba(198,40,40,1)))
    background -webkit-linear-gradient(top,  rgba(183,28,28,1) 0%,rgba(198,40,40,1) 100%)
    background -o-linear-gradient(top,  rgba(183,28,28,1) 0%,rgba(198,40,40,1) 100%)
    background -ms-linear-gradient(top,  rgba(183,28,28,1) 0%,rgba(198,40,40,1) 100%)
    background linear-gradient(to bottom,  rgba(183,28,28,1) 0%,rgba(198,40,40,1) 100%)
    border-color #EF5350
    color #FFF
