// out: ../../css/minor/webkit.css, sourcemap: false, compress: true

::-webkit-scrollbar
  width 10px

::-webkit-scrollbar-track
  box-shadow 1px 1px 2px rgba(20,20,20,0.2) inset

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive
  background #512DA8
  border-radius 4px
