#Auth(ng-Controller="AuthController as auth",ng-init="init('#{layout}','#{template}')")
  .center.fade(ng-include="getInclude()")
  footer
    ul
      li Mentions légales
      li What is ethernium?
