#Popup.friendsAnimation(ng-show="popupOpen")
  .window.fade(ng-include="getPopup()")
#Main(ng-init="init('#{layout}','#{template}')",ng-controller="HomeController",ng-class="{'flou': popupOpen }")
  header
    ul
      li(ng-class="{'active': config.template == 'news'}",ng-click="changeInclude('news',true)") News 
      li(ng-class="{'active': config.template == 'games' || config.template == 'home'}",ng-click="changeInclude('home',true)")
        | Games
        i(class="fa fa-chevron-down")
      li(ng-class="{'active': config.template == 'support'}",ng-click="changeInclude('support',true)") Support
  container 
    nav(ng-if="config.template == 'home'")
      ul
        li.active
          i(class="fa fa-home")
          |Home
        li 
          i(class="fa fa-gamepad")
          |Party
        li 
          i(class="fa fa-cogs")
          |Option
    aside.fade(ng-include="getInclude()")
  footer
    .group
      .titre group :
      .option
        ul
          li.red Quitter
          li.green Inviter
      .user
        .avatar
          img(src="img/avatar/nova2.png")
        .other
          p 
            i(class="fa fa-diamond")
            | captainfive
          span level 10
    .user
      .avatar
        img(src="img/avatar/{{userData.avatar}}.png")
      .other
        p(class="honor")
          i(class="fa fa-trophy")
          strong 1
        p(class="level") 
          | Level 
          strong {{userData.level}}
        p(class="login") {{userData.login}}
    .messages
      .other
          i(class="fa fa-chevron-up")
      #messages(ng-controller="Messages")
        .msg(ng-repeat="info in messages")
          .author-avatar
            img(src="img/avatar/{{info.avatar}}.png")
          .login {{info.login}}
          span 4
    .end(ng-Controller="End")
      .friends(ng-click="open()",ng-class="{'active':openState}",ng-show="userData.right == 1",ng-mouseenter="mouseIn_button = true",ng-mouseleave="mouseIn_button = false")
        i(class="fa fa-users")
        p Friends
        span {{friendsList.length}}
      #friends_volet.friendsAnimation(ng-Show="openState",ng-mouseenter="mouseIn = true",ng-mouseleave="mouseIn = false")
        .friends_inner
          .friend.fade(ng-repeat="info in friendsList | orderBy : '!online'",ng-if="info != undefined",ng-controller="Friends_Sub",ng-class="{'offline': info.online === false}")
            .avatar
              img(src="img/avatar/{{info.avatar}}.png")
              .level {{info.level}}
            .other
              .login
                .icon(ng-click="open_sousmenu()",ng-mouseenter="mouseIcon = true",ng-mouseleave="mouseIcon = false")
                  i(class="fa fa-chevron-down",ng-Class="{'open':options_menu}")
                  .opt_menu.friendsAnimation(ng-Show="options_menu",ng-mouseenter="mouseIn_sous_menu = true",ng-mouseleave="sousmenu_leave()")
                    ul
                      li(ng-if="info.online === true") Envoyer message...
                      li.separate Voir le profil
                      li(ng-if="info.online === true") Inviter dans le groupe
                      li.separate(ng-if="info.online === true") Inviter dans le salon
                      li Option des notifications
                      li(ng-click="deleteFriends(info.login)") Supprimer cet ami
                | {{ info.login }}
                    
              span(class="comp") 
                i(class="fa fa-circle",ng-class="{'offline': info.online === false}")
                p(ng-show="info.online === true") En ligne!
                p(ng-show="info.online === false") hors ligne!
        .option
          ul
            li(ng-click="changePopup('popup/add_friends')")
              i(class="fa fa-plus")
              | Add
            li(ng-click="changePopup('popup/friends_pending')")
              i(class="fa fa-exclamation")
              | Pending
              strong 1
            li 
              i(class="fa fa-cog")
              
      .hour {{dateNow | date : 'HH:mm'}}
      .menu(ng-click="changePopup('popup/hub_options')")
        i(class="fa fa-cog")
      .menu.out(ng-click="logout()")
        i(class="fa fa-sign-out")
