#add_friends(ng-Controller="AddFriends as popup_addfriend")
  .close(ng-click="closePopup()")
    i(class="fa fa-close")
  h1 Add friends
  form(name="searchFriends",ng-submit="popup_addfriend.searchFriends()")
    .field_sub
      .field
        label Pseudonyme
        input(
          type="text",
          name="login_friends",
          ng-model="popup_addfriend.login",
          ng-minlength="2",
          ng-maxlength="25",
          autocomplete="off",
          spellcheck="false",
          autocorrect="off",
          autocapitalize="off",
          ng-model-options="{ allowInvalid: true }",
          required
        )
        .field-error
          p(ng-show="searchFriends.login_friends.$error.required") Champ vide
          p(ng-show="searchFriends.login_friends.$error.minlength") Le champ ne contient pas assez de caractères.
          p(ng-show="searchFriends.login_friends.$error.maxlength") Le champ contient trop de caractères.
    input.field-submit(ng-disabled="searchFriends.$invalid",ng-class="{'disabled': searchFriends.$invalid}",type="submit",value="Recherche")
  #friends_find
    .user(ng-repeat="r in results")
      .avatar
        img(src="/img/avatar/{{r.avatar}}.png")
      .other {{r.login}}
