// out: ../../css/popup/hub_options.css, sourcemap: false, compress: true

#hub_options_container
  flex-grow 1
  display flex
  min-height 400px

  .left
    width 250px
    margin-right 10px

    li
      height 30px
      display flex
      align-items center

      &::after
        height 30px
        background green
      &:not(.active)
        color #E91E63
        border-bottom 1px solid #E91E63
      &.active
        color orange
        border-bottom 1px solid orange
      & + li
        margin-top 5px
      &:not(.active):hover
        cursor pointer
        color #FFF
        border-color #FFF

  .right
    flex-grow 1

#hub_options_container .left, #hub_options_container .right
  position relative
  display flex
  flex-direction column
