// out: ../../css/popup/popup.css, sourcemap: false, compress: true

#Popup
  z-index 9999
  position absolute
  display flex
  flex-grow 1
  width 100%
  height 100%
  align-items center
  justify-content center
  left 0
  top 0
  opacity 1
  transition opacity 0.4s linear
  -webkit-transition opacity 0.4s linear
  &.out
    display none
    opacity 0
  & > .window
    max-width 900px
    width 70%
    min-height 200px
    background rgba(20,20,20,0.98)
    display flex
    flex-direction column
    border 1px solid #333
    padding 10px
    color #FFF
    position relative

    h1
      width 90%
      color #7E57C2
      font-size 24px
      font-weight 400
      border-bottom 2px solid #7E57C2
      margin-bottom 10px

    .close
      width 30px
      height 30px
      background #D81B60
      position absolute
      right 10px
      top 10px
      display flex
      align-items center
      justify-content center
      font-size 20px
      transition background .2s linear
      &:hover
        background #880E4F
        cursor pointer

    form
      display flex
      flex-direction: column

    #friends_find
      flex-grow 1
      min-height 350px
      max-height 350px
      overflow-x hidden
      overflow-y auto
      border 1px solid rgba(50,50,50,0.5)
      color #FFF
      min-height 300px
      margin-top 10px
      padding 10px
      max-height 400px
      overflow auto

      .user
        background #212121
        display flex
        align-items center
        padding 10px
        & + .user
          margin-top 10px
        .avatar
          height 50px
          width 50px
          min-width 50px
          border 1px solid #424242
          overflow: hidden
          display flex
          img
            width inherit
            height inherit
        .other
          height 50px
          display flex
          align-items center
          margin-left 10px
          flex-grow 1
