h1 Authentification
.social-icon
  img(src="imgSocial/facebook.png",alt="Facebook")
  img(src="imgSocial/twitter.png",alt="Twitter")
  img(src="imgSocial/googleplus.png",alt="googleplus")
  img(src="imgSocial/twitch.png",alt="twitch")
ul(ng-controller="Auth_menu")
  li(ng-click="changeInclude('inscription',true)") Inscription
  li(ng-click="changeInclude('login',true)") Connexion
  li(ng-click="auth.inviteMode()") Mode invité
