.back(ng-click="changeInclude('auth',true)") Retour
h1 Inscription
form(name="inscription",ng-controller="inscriptionController",ng-submit="submit()",novalidate)
  .field_sub
    .field
      label Login
      input(
        type="text",
        name="login",
        ng-model="formData.login",
        ng-minlength="2",
        ng-maxlength="25",
        autocomplete="off",
        spellcheck="false",
        autocorrect="off",
        autocapitalize="off",
        ng-model-options="{ allowInvalid: true }",
        required
      )
      .field-error
        p(ng-show="inscription.login.$error.required") Champ vide
        p(ng-show="inscription.login.$error.maxlength") Le champ contient trop de caractères.
    .field
      label Email
      input(
        type="email",
        name="email",
        ng-model="formData.email",
        autocomplete="off",
        spellcheck="false",
        autocorrect="off",
        autocapitalize="off",
        required
      ) 
      .field-error
        p(ng-show="inscription.email.$error.required") Champ vide
        p(ng-show="inscription.email.$error.email") Format de l'email incorrect.

  .field_sub
    .field
      label Password
      input(
        type="password",
        name="password",
        ng-model="formData.password",
        ng-maxlength="40",
        autocomplete="off",
        spellcheck="false",
        autocorrect="off",
        autocapitalize="off",
        ng-model-options="{ allowInvalid: true }",
        ng-pattern=/^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$/,
        equals="{{formData.password_repeat}}",
        required
      )
      .field-error
        p(ng-show="inscription.password.$error.required") Champ vide
        p(ng-show="inscription.password.$error.pattern") Le format du mot de passe n'est pas valide!
        p(ng-show="inscription.password.$error.maxlength") Le champ contient trop de caractères.
    .field
      label Repeat password
      input(
        type="password",
        name="password_repeat",
        ng-model="formData.password_repeat",
        ng-maxlength="40",
        autocomplete="off",
        spellcheck="false",
        autocorrect="off",
        autocapitalize="off",
        equals="{{formData.password}}",
        required
      )
      .field-error
        p(ng-show="inscription.password_repeat.$error.required") Champ vide
        p(ng-show="inscription.password_repeat.$error.equals") Le mot de passe n'est pas identique!
  button.field-reset(ng-click="reset()") Reset
  input.field-submit(ng-disabled="inscription.$invalid",ng-class="{'disabled': inscription.$invalid}",type="submit",value="Inscription")
