.back(ng-click="changeInclude('auth',true)") Retour
h1 Login
form(name="login",ng-controller="loginController",ng-submit="submit()",novalidate)
  .field_sub
    .field
      label Login
      input(
        type="text",
        name="login",
        ng-model="formData.login",
        ng-minlength="2",
        ng-maxlength="25",
        autocomplete="off",
        spellcheck="false",
        autocorrect="off",
        autocapitalize="off",
        ng-model-options="{ allowInvalid: true }",
        required
      )
      .field-error
        p(ng-show="login.login.$error.required") Champ vide
        p(ng-show="login.login.$error.maxlength") Le champ contient trop de caractères.
    .field
      label Password
      input(
        type="password",
        name="password",
        ng-model="formData.password",
        ng-maxlength="40",
        autocomplete="off",
        spellcheck="false",
        autocorrect="off",
        autocapitalize="off",
        ng-model-options="{ allowInvalid: true }",
        ng-pattern=/^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$/,
        required
      )
      .field-error
        p(ng-show="login.password.$error.required") Champ vide
        p(ng-show="login.password.$error.pattern") Le format du mot de passe n'est pas valide!
        p(ng-show="login.password.$error.maxlength") Le champ contient trop de caractères.

  input.field-submit(ng-disabled="login.$invalid",ng-class="{'disabled': login.$invalid}",type="submit",value="Connexion")
