// out: ../css/main.css, sourcemap: false, compress: true

// HUB CSS
#HUB
  width 100%
  height 100%
  display flex
  overflow hidden
  position relative
  background rgb(15,15,15)

  // AUTH CSS
  & > #Auth
    width inherit
    height inherit
    display inherit
    overflow inherit
    position relative
    justify-content center
    align-items center

    & > .center
      width 70%
      overflow hidden
      display flex !important
      flex-direction column
      position relative
      padding 10px

      .back
        padding 5px
        background blue
        border-radius 4px
        color #FFF
        background rgb(61,90,254)
        background -moz-linear-gradient(top,  rgba(61,90,254,1) 0%, rgba(41,98,255,1) 100%)
        background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,90,254,1)), color-stop(100%,rgba(41,98,255,1)))
        background -webkit-linear-gradient(top,  rgba(61,90,254,1) 0%,rgba(41,98,255,1) 100%)
        background -o-linear-gradient(top,  rgba(61,90,254,1) 0%,rgba(41,98,255,1) 100%)
        background -ms-linear-gradient(top,  rgba(61,90,254,1) 0%,rgba(41,98,255,1) 100%)
        background linear-gradient(to bottom,  rgba(61,90,254,1) 0%,rgba(41,98,255,1) 100%)
        border 1px solid #FFF
        width 100px
        display flex
        justify-content center
        align-items center

      & > h1
        color #FFF
        display inherit
        position inherit
        justify-content center
        margin-bottom 5px

      .social-icon
        display inherit
        flex-wrap wrap
        position inherit
        justify-content center

        img
          width 75px
          height 75px
          cursor pointer

          &:hover
            cursor pointer

          & + img
            margin-left 10px

      ul
        display flex
        flex-direction column
        margin-top 10px
        align-items center

        li
          width 200px
          height 40px
          background rgb(52,54,58)
          background -moz-linear-gradient(top,  rgba(52,54,58,1) 0%, rgba(0,0,0,1) 100%)
          background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,54,58,1)), color-stop(100%,rgba(0,0,0,1)))
          background -webkit-linear-gradient(top,  rgba(52,54,58,1) 0%,rgba(0,0,0,1) 100%)
          background -o-linear-gradient(top,  rgba(52,54,58,1) 0%,rgba(0,0,0,1) 100%)
          background -ms-linear-gradient(top,  rgba(52,54,58,1) 0%,rgba(0,0,0,1) 100%)
          background linear-gradient(to bottom,  rgba(52,54,58,1) 0%,rgba(0,0,0,1) 100%)
          border 2px solid #FFF
          border-radius 2px
          display flex
          align-items center
          justify-content center
          color #FFF

          &:hover
            color orange
            border-color orange
            cursor pointer

          & + li
            margin-top 10px

    // Auth CSS footer
    footer
      height 50px
      background rgba(35,35,35,0.35)
      position absolute
      width 100%
      bottom 0
      left 0
      display flex

      & > ul
        height inherit
        position relative
        align-items center
        align-content flex-end
        margin-left auto
        display flex

        li
          color #FFF
          text-decoration underline
          padding 0 10px

  @keyframes blurAnimation
      0%
        opacity 1
      100%
        opacity 0.15

  // Main CSS
  & > #Main
    width inherit
    height inherit
    position relative
    display flex
    flex-direction column
    overflow hidden
    transition opacity .5s ease-in-out
    -webkit-transition opacity .5s ease-in-out
    -moz-transition opacity .5s ease-in-out
    -o-transition opacity .5s ease-in-out
    opacity 1

    &.flou
      opacity 0.15

    & > container
      flex-grow 1
      display inherit
      position relative
      padding 20px

      & > aside
        flex-grow inherit
        display inherit
        position inherit
        overflow-x hidden
        overflow-y auto
        color #FFF

        .left
          flex-grow 1
          margin-right 10px
          display flex
          align-items center
          justify-content center
          flex-direction column

          h1
            font-size 4vmax

          .visio
            height 50px
            background #512DA8
            margin-top 20px
            width 300px
            display flex
            align-items center
            justify-content center
            font-size 20px
            border 2px groove #212121
            box-shadow -5px -3px 25px rgba(49,27,146,0.2)
            transition background .3s linear

            &:hover
              cursor pointer
              background #673AB7

        .right
          width 300px
          display flex
          flex-direction column
          justify-content center

          .events
            border 1px solid #212121
            background #111
            min-height 100px
            display inherit
            flex-direction inherit
            padding 5px
            box-shadow 5px 3px 25px rgba(49,27,146,0.2)

            & + .events
              margin-top 20px

            h2
              height 30px
              font-weight 400
              padding 0 10px
              font-size 19px
              display flex
              align-items center
              background #F50057

            ul
              flex-grow 1
              margin-top 5px
              padding 5px

              li
                height 35px
                display flex
                padding 0 10px
                align-items center

                & + li
                  border-top 1px solid #212121
                  margin-top 3px
    footer
      height 60px
      min-height 50px
      background #111111
      border-top 1px solid #212121
      box-shadow -5px -3px 25px rgba(49,27,146,0.2)
      display inherit
      position relative

      & > .user
        align-self flex-end
        width 330px
        margin-left 10px
        height 150px
        display flex
        align-items center
        justify-content center

        .avatar
          width 130px
          height 130px
          background #333
          margin-left 10px
          box-sizing border-box
          border 2px solid #333
          overflow hidden
          box-shadow 5px 3px 5px rgba(20,20,20,0.35)
          border-radius 2px
          transition border .3s linear
          &:hover
            border-color #999
            cursor pointer

          img
            width inherit
            height inherit

        .other
          flex-grow 1
          margin-left 10px
          height 130px
          margin-right 10px
          display flex
          flex-direction column

          p
            height 30px
            display flex
            padding 0 10px
            align-items center
            color #FFF
            align-content flex-end

          .honor
            background #303F9F
            border 1px solid #5C6BC0
            margin-bottom 10px

          .level
            border 1px solid #9FA8DA
            background #4527A0

          .login
            margin-top auto
            font-size 20px

      & > .messages
        flex-grow 1
        margin 0 20px
        height 40px
        margin-top 10px
        display flex

        & > #messages
          flex-grow 1
          display flex

        .msg
          padding 0 5px
          width 200px
          box-sizing border-box
          background #263238
          border 1px solid #78909C
          display flex
          align-items center

          .author-avatar
            box-sizing inherit
            border 1px solid #78909C
            width 30px
            height 30px
            margin-right 10px
            overflow hidden

            img
              width inherit
              height inherit

          .login
            font-size 14px
            color #FFF

          & > span
            align-content flex-end
            margin-left auto
            background #F50057
            color #FFF
            height 20px
            padding 0 5px
            margin-right 5px
            font-size 14px
            display flex
            align-items center

          & + .msg
            margin-left 10px

        .other
          padding 0 5px
          background #455A64
          border 1px solid #78909C
          display flex
          position relative
          align-items center
          justify-content center
          color #FFF
          margin-right 10px
          transition color .2s linear

          &:hover
            cursor pointer
            color #F8BBD0

      & > .end
        align-content flex-end
        margin-left auto
        margin-right 20px
        display flex
        align-items center
        position relative

        .hour
          height 40px
          padding 0 20px
          color #BDBDBD
          border-left 1px solid rgba(60,60,60,0.5)
          border-right 1px solid rgba(60,60,60,0.5)
          display flex
          align-items center
          transition color .5s linear
          user-select none
          -webkit-user-select none
          &:hover
            color #FFF

        .menu
          height 40px
          width 40px
          display flex
          align-items center
          justify-content center
          margin-left 10px
          color #FFF
          font-size 20px
          transition background .2s linear,color .2s linear, border .2s linear
          user-select none
          -webkit-user-select none

          &:not(.out)
            background rgb(55,71,79)
            background -moz-linear-gradient(top,  rgba(55,71,79,1) 0%, rgba(38,50,56,1) 100%)
            background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,71,79,1)), color-stop(100%,rgba(38,50,56,1)))
            background -webkit-linear-gradient(top,  rgba(55,71,79,1) 0%,rgba(38,50,56,1) 100%)
            background -o-linear-gradient(top,  rgba(55,71,79,1) 0%,rgba(38,50,56,1) 100%)
            background -ms-linear-gradient(top,  rgba(55,71,79,1) 0%,rgba(38,50,56,1) 100%)
            background linear-gradient(to bottom,  rgba(55,71,79,1) 0%,rgba(38,50,56,1) 100%)
            border 1px solid #78909C

          &:not(.out):hover
            background #4527A0
            cursor pointer
            border 1px solid #7E57C2

          &.out
            background rgb(211,47,47)
            background -moz-linear-gradient(top,  rgba(211,47,47,1) 0%, rgba(198,40,40,1) 100%)
            background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,47,47,1)), color-stop(100%,rgba(198,40,40,1)))
            background -webkit-linear-gradient(top,  rgba(211,47,47,1) 0%,rgba(198,40,40,1) 100%)
            background -o-linear-gradient(top,  rgba(211,47,47,1) 0%,rgba(198,40,40,1) 100%)
            background -ms-linear-gradient(top,  rgba(211,47,47,1) 0%,rgba(198,40,40,1) 100%)
            background linear-gradient(to bottom,  rgba(211,47,47,1) 0%,rgba(198,40,40,1) 100%)
            border 1px solid #F44336

            &:hover
              background #F44336
              cursor pointer

#HUB > #Main footer > .user .other .level , #HUB > #Main footer > .user .other .honor
  width 70px
  height 27px
  display flex
  align-items center
  text-shadow 1px 1px 1px #333
  box-shadow 2px 2px 5px rgba(20,20,20,0.35)

#HUB > #Main footer > .user .other .level strong, #HUB > #Main footer > .user .other .honor strong
  padding 0 5px
  margin-left 10px
  line-height 25px
  align-content flex-end
  margin-left auto
