// out: ../css/menu.css, sourcemap: false, compress: true

#HUB
  & > #Main
    & > container
      nav
        width 250px
        min-width 250px
        margin-right 20px
        display inherit
        position inherit
        flex-direction column

        ul
          display flex
          flex-direction column

          li
            height 40px
            display flex
            padding 0 10px
            align-items center
            color #EDE7F6
            text-shadow 1px 1px 1px #333
            box-shadow 2px 2px 5px rgba(20,20,20,0.35)
            font-weight 400
            transition background .2s linear, border .2s linear

            &:not(.active)
              border 1px solid #B39DDB
              background #4527A0
            &.active
              border 1px solid #BA68C8
              background #6A1B9A
            i
              margin-right 10px
            & + li
              margin-top 10px
